version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.14
    working_directory: /go/src/github.com/MrFuku/gasshuku
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run:
          name: Run Tests
          command: go test -race -v ./...
  deploy:
    working_directory: ~/go/src/github.com/MrFuku/gasshuku
    docker:
      - image: circleci/python:2.7-node-browsers
    steps:
      - checkout
      - setup_remote_docker
      - run: sudo pip install awscli
      - run: $(aws ecr get-login --region ap-northeast-1 --no-include-email)
      - run:
          name: Build ECR API
          command: |
            docker build -f ./Dockerfile.prod  -t gasshuku .
      - run:
          name: TAG ECR API
          command: |
            docker tag gasshuku $AWS_ACCOUNT_ID.dkr.ecr.ap-northeast-1.amazonaws.com/gasshuku:latest
      - run:
          name: Deploy
          command: |
            bash ./deploy.sh
# Workflows
workflows:
  version: 2
  test_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - master
